<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <title>IKKA | WBEL PANEL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/loader-style.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/signin.css">
    </head>

    <body>


        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>

        <div class="container">

            <div class="" id="login-wrapper">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div  style="text-align: center;">
                            <img src="{{ app.request.basepath }}/assets/img/logo.png" style="width: 90%">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 col-md-offset-4" style="border-radius: 10px">
                        <div class="account-box">
                            {% if loginForm %}
                                {{ form_start(loginForm) }}

                                {{app.request.session.get("pseudo")}}

                                <form role="form" role="form" action="{{ path('login') }}" method="post">
                                    <div class="form-group">
                                        <label for="inputUsername"><span class="entypo-user"></span> Votre identifiant de connexion Minecraft : </label>
                                        {{ form_errors(loginForm.username) }}
                                        {{ form_widget(loginForm.username, { 'attr':  {
                                                'class': 'form-control',
                                                'placeholder': 'Saisir votre identifiant ...',
                                        }}) }}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword"><span class="entypo-key"></span> Votre mot de passe associé :</label>
                                        {{ form_errors(loginForm.password) }}
                                        {{ form_widget(loginForm.password, { 'attr':  {
                                            'class': 'form-control',
                                            'placeholder': 'Saisir votre mot de passe ...',
                                        }}) }}
                                    </div>
                                    <span class="entypo-info-circled"></span> Vos identifiants ne seront pas stockés. 
                                    <hr>
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-google " value="Valider" />
                                    </div>
                                    <br>
                                    <br>
                                    {{ form_end(loginForm) }}
                                {% endif %}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="alert alert-danger">
                                        {{ flashMessage }}
                                    </div>
                                {% endfor %}

                        </div>
                    </div>
                </div>
            </div>





            <div style="text-align:center;margin:0 auto;">
                <h5 style="color:#fff;"><span class="entypo-globe"></span>  Projet Web Services EPSI 2016</h5>
            </div>

        </div>


        <!-- MAIN EFFECT -->
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/preloader.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/app.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/load.js"></script>


    </body>

</html>
